.track-list-open {
  @apply bg-[#120822] w-[330px] overflow-y-auto scroll-none;
  position: fixed;
  z-index: 10;
  top: 0px;
  bottom: 90px;
  right: 0px;

  animation-name: open;
  animation-duration: 0.3s;
}

@keyframes open {
  0%   {right: -330px;}
  100% {right: 0px;}
}

.track-list-close {
  @apply bg-[#120822] w-[330px] overflow-y-auto scroll-none;
  position: fixed;
  z-index: 10;
  top: 0px;
  bottom: 90px;
  right: -330px;

  animation-name: close;
  animation-duration: 0.3s;
}

@keyframes close {
  0%   {right: 0px;}
  100% {right: -330px;}
}