@import './utils/index';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-span {
    height: calc(100vh - 90px);
  }
  
  .w-body {
    width: calc(100% - 570px);
  }
}

@layer components {
  .text-song {
    @apply text-sm;
  }
  .text-artists {
    @apply text-xs text-white-secondary;
  }
  .text-options {
    @apply text-sm text-[#DADADA];
  }
  /* ... */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'mp3-zing';
  src: url(/fonts/mp3-zing.2a3edced.woff) format('woff');
}

i.icon::before {
  font-family: 'mp3-zing' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-feature-settings: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  // line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
